<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".views.activities.AddBioActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.CityNameActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.StateNameActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.CountryNamesActivity"
            android:exported="false" />
        <activity
            android:name=".views.dashboard.premium.UpgradePremiumActivity"
            android:exported="false" />
        <activity
            android:name=".views.dashboard.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.PickPhotosActivity"
            android:exported="true" />
        <activity
            android:name=".views.dashboard.DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.SetPreferencesActivity"
            android:exported="true" >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.IncomeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.QualificationActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.MartialStatusActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.StateCityActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.EmailPhoneNumberActivity"
            android:exported="false"
            android:label="@string/title_activity_email_phone_number"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".views.activities.ReligionCastActivity"
            android:exported="true"></activity>
        <activity
            android:name=".views.activities.NameDateBirthActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.ProfileForActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".views.activities.MainActivity"
            android:exported="true">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>